.form-group{
    display: flex;
    height: 150px;
}
.questionCard{
    height: 180px;
    width: 1500px;
}
.form{
    padding: 20px;
}
.timer{
    float: right;
    position: relative;
}
.questionName{
    font-size: 18px;
}
