<div id="fab-dismiss" 
     *ngIf="fabTogglerState==='active'" 
     (click)="onToggleFab()">
</div>
<div class="fab-container">
  <button mat-fab class="fab-toggler" color="primary"
          (click)="onToggleFab()">
    <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> <!-- Animation here -->
  </button>
  <div [@speedDialStagger]="buttons.length"> <!-- and here -->
    <div *ngFor="let btn of buttons">
    <button mat-mini-fab class="fab-secondary" color="secondary" (click)="onClick($event)">
      <i class="material-icons">{{btn.icon}}</i>
    </button>
    </div>
  </div>
</div>
